<!DOCTYPE html>
<html>
  <head>
    <title>Farmaenlinea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'pages/navbar' %>
    <div class='wrapper-body <%= controller.controller_name %>'>
      <%= yield %>
    <%= render 'pages/footer' %>
    </div>
  </body>
</html>
